:root{
    --Branco-principal:#FFFFFF;
    --Cinza-Secundario:#C0C0C0;
    --Botao-Azul:#167BF7;  
    --cor-de-fundo:#6ae9f7;
    --fonte-principal:'';
}
body{
    background-color:var(--cor-de-fundo);
    color:var(--Branco-principal);
    font-family: var(--fonte-principal);
    font-size:16px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
    margin:0;
    padding:0;
}
.principal{
    background-image: url("img/Background.png");
    background-repeat:no-repeat;
    background-size:contain;
    align-items:center;
    text-align: center;
}
.conteiner{
    height:100vh;
    display:grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color:var(--Botao-Azul);
    border-radius: 5px;
    padding:1em;
    color:var(--Branco-principal);
    display:block;
    text-decoration:none;
    margin-bottom:1em ;
}
.botao__secundario{
    background-color: transparent;
    border:2px solid var(--Branco-principal);
}
.container_aviso{
    font-size:12px;
    color:var(--Cinza-Secundario);
}
.container__titulo{
    font:26px;
    font-weight: 700;
}
.conteiner__imagem{
    margin:1em 0 2em 0;
}
.container__caixa{
    margin:0 6em;
}
.container__descrição{
    text-align: right;
    text-align: center;
}
.secundaria__imagem{
    align-items: left;
}
.secundario{
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color:var(--Branco-principal);
    margin-bottom:0.1em ;
}
.secundario__imagem {
    width: 80%;
}
.secundario {
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--Branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto {
    color: var(--Cinza-Secundario);
}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}
.descricao__titulo{
    height: 700;
    font-size: 58px;
    color:var(--Branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto{
    color:var(--Cinza-Secundario)
}
.container__descricao{
    padding: 2em;

}
.secundario{
    align-items: center;
    margin:0 10em;
}
.secundaria__imagem{
    width: 80%;
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin:5em 0;
}
.dispositivos{
    text-align: center;
}
.dispositivo__titulo{
    font-size:48px ;
    color:var(--Branco-principal)
}
.lista__item{
    font-size: 32px;
    color: var(--Branco-principal)
}
.rodape__lista{
    display: flex;
    justify-content: center;
    margin-top:1em;
    list-style-type: none;
}
.lista__link a{
    margin:0 1em;
    font-size:16px;
    color:var(--Branco-principal);
    text-decoration: none;

}
.rodape__texto{
    font-size: 14px;
    color:var(--Cinza-Secundario);
    margin:1em 0 3em ;
    text-align: center;
}
.rodape{
    text-align: center;
    margin:0 1em 0 1em;
}
.lista__link a:hover{
    color:var(--Botao-Azul);
}
.lista__link a:active {
    color: purple;
}